
.tooltip {
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 0px;
  margin-top: -6px;
  margin-left: -6px;
  font-size: 1.0rem;
}

.tooltipHeader {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
}

.tooltipTitle {
  font-weight: 600;
  font-family: 'Poppins';
  font-size: 1.25rem;
  vertical-align: middle;
}

.tooltipFlag {
  object-fit: cover;
  height: 1.5rem;
  width:  2.5rem;
  min-width: 2.5rem;
  margin-right: 0.5rem;
}

.tooltipBox {
  display: table;
  margin: 0px;
  width: 100%;
  height: 100%;
  border-spacing: 2px;
}

.tooltipRow {
  display: table-row;
}

.tooltipVal {
  display: table-cell;
  text-align: right;
  font-family: 'Poppins';
  padding-left: 0.25rem;
}

.tooltipLbl {
  display: table-cell;
  text-align: left;
  font-family: 'Poppins';
}
