.ig-tooltip-container {
    background: #1E1E1E !important;
    background: transparent !important;
    color: transparent !important;
    border: transparent !important;
    padding: 0px;
    margin: 0px;
}

.ig-tooltip-pointer {
    background-color: black !important;
    border-color: gray !important;
    padding: 0px;
    margin: 0px;
}