.app-list-header-light,
.app-list-header-dark {
    padding: 0.75rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 5rem;
    max-height: 5rem;
    margin-bottom: 0.5rem;
}

.app-list-header-light {
    background: #F9F8F9;
    border-bottom: 1px solid #C7C6CC;
}
.app-list-header-dark {
    background: #262a3c;
}


.app-list-header-name {
    font-size: 0.875em;
    text-transform: uppercase;
}
.app-list-header-value {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}
