#map {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #262a3c;
}
/* .leaflet-container {
    height: 100%;
    width: 100%;

} */

.leaflet-control-attribution {
  display: none;
}

.info {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}

.info h3 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0 0 5px;
  color: #1d8cf8;
}

.info h4 {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0 0 5px;
  color: #262a3c;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #262a3c;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
